<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title><%= current_page.data.title || "Bosh" %></title>
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.rawgit.com/resir014/Clear-Sans-Webfont/v1.0.1/css/clear-sans.css">

    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'shared/header' %>
    <div class="p2" id="boshviz">
      <div class="bg-white border border-silver">
        <div class="p2 sm-p3">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
  <%= partial 'templates/json-textarea' %>
  <%= javascript_include_tag :all %>
</html>
